@model _4fitClub.Models.Imagens



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Tem a certeza que quer eliminar multimédia?</h3>
    <div>
        @* HTML Helper para apresentar as mensagens de erro *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Exercício")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Exercicio.Nome)
            </dd>

            <dt>
                @Html.DisplayName("Imagem")
            </dt>

            <dd>
                @*Html.DisplayFor(model => model.Nome)*@
                <a href="~/multimedia/@Model.Nome" target="_blank">
                    <img src="~/multimedia/@Model.Nome" width="200" />
                </a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ordem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ordem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar Multimédia" class="btn btn-danger" /> |
                @Html.ActionLink("Voltar atrás", "Index/Index")
            </div>
        }
    </div>
</body>
</html>
