@model _4fitClub.Models.Imagens



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Multimédia</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Exercício")
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicio.Nome)
            </dd>
    
            <dt>
                @Html.DisplayName("Imagem")
            </dt>
    
            <dd>
                @*Html.DisplayFor(model => model.Nome)*@
                <a href="~/multimedia/@Model.Nome" target="_blank">
                    <img src="~/multimedia/@Model.Nome" width="150"  />
                </a>
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ordem)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ordem)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar detalhes", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Voltar atrás", "Index/Index")
    </p>
</body>
</html>
