@model _4fitClub.Models.Categorias



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Tem a certeza que quer eliminar esta Categoria?</h3>
    <div>
        @* HTML Helper para apresentar as mensagens de erro *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Categoria")
                @*Html.DisplayNameFor(model => model.Nome)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayName("Descrição")
                @*Html.DisplayNameFor(model => model.Descricao)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>

            <dd>
                @*Html.DisplayFor(model => model.Imagem)*@
                <a href="~/imagens/@Model.Imagem" target="_blank">
                    <img src="~/imagens/@Model.Imagem" width="100" />
                </a>
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Voltar atrás", "Index")
            </div>
        }
    </div>
</body>
</html>
