@model _4fitClub.Models.Categorias



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Categorias</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Categoria")
                @*Html.DisplayNameFor(model => model.Nome)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayName("Descrição")
                @*Html.DisplayNameFor(model => model.Descricao)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>

            <dd>
                @*Html.DisplayFor(model => model.Imagem)*@
                <a href="~/imagens/@Model.Imagem" target="_blank">
                    <img src="~/imagens/@Model.Imagem" width="100" />
                </a>
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("Manager"))
        {
            <text>
                @Html.ActionLink("Editar Categoria", "Edit", new { id = Model.ID }) |
            </text>
        }
        @Html.ActionLink("Voltar às Categorias", "Index")
    </p>
</body>
</html>
