@model IEnumerable<_4fitClub.Models.Categorias>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>
        @Html.ActionLink("Adicionar Categoria", "Create")
    </h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Categoria")
                @*Html.DisplayNameFor(model => model.Nome)*@
            </th>
            <th>
                @Html.DisplayName("Descrição")
                @*Html.DisplayNameFor(model => model.Descricao)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @*Html.DisplayFor(modelItem => item.Imagem)*@
                <a href="~/imagens/@item.Imagem" target="_blank">
                    <img src="~/imagens/@item.Imagem" width="50" height="50"/>
                </a>
            </td>
            <td>
                @Html.ActionLink("Editar Categoria", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Detalhes da Categoria", "Details", new { id=item.ID }) |
                @Html.ActionLink("Apagar Categoria", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
