@model _4fitClub.Models.Cliente



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Tem a certeza que quer eliminar este Cliente?</h3>
    <div>
        @* HTML Helper para apresentar as mensagens de erro *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Imagem)
            </dt>

            <dd>
                <a href="~/UserImages/@Model.Imagem" target="_blank">
                    <img src="~/UserImages/@Model.Imagem" width="200" />
                </a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("voltar atrás", "Index")
            </div>
        }
    </div>
</body>
</html>
