@model _4fitClub.Models.Cliente


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes do Cliente</title>
</head>
<body>
    <div>
        <h3>Cliente</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NIF)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NIF)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar Cliente", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Voltar atrás", "Index")
    </p>
</body>
</html>
