@model IEnumerable<_4fitClub.Models.Cliente>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Clientes da Aplicação</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a href="~/UserImages/@item.Imagem" target="_blank">
                        <img src="~/UserImages/@item.Imagem" width="100" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Editar Perfil de Cliente", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalhes do cliente", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Eliminar Cliente", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
