@model _4fitClub.Models.Planos



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Planos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

            <dt>
                @Html.DisplayName("Data de Criação do Plano")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataCriacao)
            </dd>
        </dl>
        <div class="form-group">
            <b>@Html.DisplayName("Exercícios do meu plano:")</b>
            <ul>
                @foreach (var item in Model.ListaDeExercicios.OrderBy(e => e.Nome))
                {
                <li>@Html.ActionLink(item.Nome, "Details", "Exercicios", new { id = item.ID }, new { target="_blank"})</li>
                }
            </ul>
        </div>


    </div>
    <p>
        @Html.ActionLink("Alterar Plano", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("voltar atrás", "Index")
    </p>
</body>
</html>
