@model IEnumerable<_4fitClub.Models.Planos>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Meus Planos de Treino</h3>
    <p>
        @Html.ActionLink("Criar Novo Plano de Treino", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayName("Data de Criação do Plano")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.ActionLink("Editar Plano de Treino", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalhes do Plano de Treino", "Details", new { id = item.ID }) |
                @Html.ActionLink("Eliminar Plano de Treino", "Delete", new { id = item.ID })
            </td>
        </tr>
        }

    </table>
</body>
</html>
