@model _4fitClub.Models.Exercicios



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Tem a certeza que quer eliminar o exercício</h3>
    <div>
        @* HTML Helper para apresentar as mensagens de erro *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Categoria.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Objetivo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Objetivo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Passos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Passos)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Apagar Exercício" class="btn btn-danger" /> |
                @Html.ActionLink("Voltar aos Exercícios", "Index")
            </div>
        }
    </div>
</body>
</html>
