@model _4fitClub.Models.Exercicios



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Exercicios</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Categoria")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Categoria.Nome)
            </dd>

            <dt>
                @Html.DisplayName("Exercício")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Objetivo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Objetivo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Passos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Passos)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("Manager"))
        {
            <text>
                @Html.ActionLink("Editar Exercício", "Edit", new { id = Model.ID }) |
            </text>
        }

        @Html.ActionLink("Voltar aos Exercícios", "Index")
    </p>
</body>
</html>
